USE [master]
GO
/****** Object:  Database [RaintreeEMS1]    Script Date: 12-06-2026 22:36:37 ******/
CREATE DATABASE [RaintreeEMS1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RaintreeEMS1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RaintreeEMS1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RaintreeEMS1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RaintreeEMS1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RaintreeEMS1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RaintreeEMS1]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Status] [nvarchar](10) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](20) NOT NULL,
	[EmployeeName] [nvarchar](100) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Designation] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[MobileNo] [nvarchar](15) NOT NULL,
	[JoiningDate] [date] NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[TokenId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'Human Resources', N'Manages recruitment and employee relations', N'Active', CAST(N'2026-06-12T13:44:01.360' AS DateTime), NULL)
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, N'Information Technology', N'Handles all IT infrastructure and development', N'Active', CAST(N'2026-06-12T13:44:01.360' AS DateTime), NULL)
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, N'Finance', N'Manages accounts and financial planning', N'Active', CAST(N'2026-06-12T13:44:01.360' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [EmployeeCode], [EmployeeName], [DepartmentId], [Designation], [Email], [MobileNo], [JoiningDate], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'EMP001', N'Amit Sharma', 2, N'Senior Developer', N'amit@raintree.com', N'9876543210', CAST(N'2021-01-15' AS Date), N'Active', CAST(N'2026-06-12T13:44:01.373' AS DateTime), CAST(N'2026-06-12T22:01:43.270' AS DateTime))
INSERT [dbo].[Employees] ([EmployeeId], [EmployeeCode], [EmployeeName], [DepartmentId], [Designation], [Email], [MobileNo], [JoiningDate], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, N'EMP002', N'Priya Patel', 1, N'HR Manager', N'priya@raintree.com', N'9876543211', CAST(N'2020-06-01' AS Date), N'Active', CAST(N'2026-06-12T13:44:01.373' AS DateTime), NULL)
INSERT [dbo].[Employees] ([EmployeeId], [EmployeeCode], [EmployeeName], [DepartmentId], [Designation], [Email], [MobileNo], [JoiningDate], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, N'EMP003', N'Rahul Desai', 3, N'Finance Analyst', N'rahul@raintree.com', N'9876543212', CAST(N'2022-03-10' AS Date), N'Inactive', CAST(N'2026-06-12T13:44:01.373' AS DateTime), CAST(N'2026-06-12T22:26:29.827' AS DateTime))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt]) VALUES (1, N'Admin User', N'admin@raintreeems.com', N'$2a$11$hfYuVv8lP4KkPusWp0SROeOt7c965IxsG8/RH1BWL.zvB6RolPAz2', N'Admin', 1, CAST(N'2026-06-12T13:48:29.710' AS DateTime))
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt]) VALUES (2, N'Raintree User', N'raintree@raintreeems.com', N'$2a$11$hfYuVv8lP4KkPusWp0SROeOt7c965IxsG8/RH1BWL.zvB6RolPAz2', N'User', 1, CAST(N'2026-06-12T15:41:04.697' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTokens] ON 

SET IDENTITY_INSERT [dbo].[UserTokens] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__1F642548226CBB23]    Script Date: 12-06-2026 22:36:37 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053458453A24]    Script Date: 12-06-2026 22:36:37 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserTokens] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[UserTokens] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_Users]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateDepartment]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 10. sp_CreateDepartment
-- ---------------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_CreateDepartment]
    @DepartmentName NVARCHAR(100),
    @Description    NVARCHAR(255),
    @Status         NVARCHAR(10)
AS
BEGIN
    INSERT INTO Departments (DepartmentName, Description, Status)
    VALUES (@DepartmentName, @Description, @Status);

    SELECT SCOPE_IDENTITY() AS DepartmentId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CreateEmployee]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--USE [RaintreeEMS1]
--GO
--/****** Object:  StoredProcedure [dbo].[sp_CreateEmployee]    Script Date: 12-06-2026 16:56:52 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

---- ---------------------------------------------------------------
---- 15. sp_CreateEmployee
---- ---------------------------------------------------------------
--ALTER  PROCEDURE [dbo].[sp_CreateEmployee]
--    @EmployeeCode NVARCHAR(20),
--    @EmployeeName NVARCHAR(100),
--    @DepartmentId INT,
--    @Designation  NVARCHAR(100),
--    @Email        NVARCHAR(150),
--    @MobileNo     NVARCHAR(15),
--    @JoiningDate  DATE,
--    @Status       NVARCHAR(10)
--AS
--BEGIN
--    IF EXISTS (SELECT 1 FROM Employees WHERE EmployeeCode = @EmployeeCode)
--    BEGIN
--        SELECT -1 AS EmployeeId, 'Employee code already exists' AS Message;
--        RETURN;
--    END

--    INSERT INTO Employees (EmployeeCode, EmployeeName, DepartmentId, Designation, Email, MobileNo, JoiningDate, Status)
--    VALUES (@EmployeeCode, @EmployeeName, @DepartmentId, @Designation, @Email, @MobileNo, @JoiningDate, @Status);

--    SELECT SCOPE_IDENTITY() AS EmployeeId, 'Created successfully' AS Message;
--END


CREATE PROCEDURE [dbo].[sp_CreateEmployee]
    @EmployeeName NVARCHAR(100),
    @DepartmentId INT,
    @Designation NVARCHAR(100),
    @Email NVARCHAR(150),
    @MobileNo NVARCHAR(15),
    @JoiningDate DATE,
    @Status NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EmployeeCode NVARCHAR(20);
    DECLARE @NextId INT;

    -- Get Next Employee ID
    SELECT @NextId = ISNULL(MAX(EmployeeId), 0) + 1
    FROM Employees;

    -- Generate Employee Code
    SET @EmployeeCode = 'EMP' + RIGHT('000' + CAST(@NextId AS VARCHAR(10)), 3);

    -- Check Email Duplicate
    IF EXISTS (SELECT 1 FROM Employees WHERE Email = @Email)
    BEGIN
        SELECT -1 AS EmployeeId,
               'Email already exists' AS Message;
        RETURN;
    END

    INSERT INTO Employees
    (
        EmployeeCode,
        EmployeeName,
        DepartmentId,
        Designation,
        Email,
        MobileNo,
        JoiningDate,
        Status
    )
    VALUES
    (
        @EmployeeCode,
        @EmployeeName,
        @DepartmentId,
        @Designation,
        @Email,
        @MobileNo,
        @JoiningDate,
        @Status
    );

    SELECT SCOPE_IDENTITY() AS EmployeeId,
           @EmployeeCode AS EmployeeCode,
           'Created successfully' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDepartment]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 12. sp_DeleteDepartment
-- ---------------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_DeleteDepartment]
    @DepartmentId INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Employees WHERE DepartmentId = @DepartmentId)
    BEGIN
        SELECT -1 AS Result, 'Cannot delete: employees exist in this department' AS Message;
        RETURN;
    END

    DELETE FROM Departments WHERE DepartmentId = @DepartmentId;
    SELECT 1 AS Result, 'Deleted successfully' AS Message;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteEmployee]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 17. sp_DeleteEmployee
-- ---------------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_DeleteEmployee]
    @EmployeeId INT
AS
BEGIN
    DELETE FROM Employees WHERE EmployeeId = @EmployeeId;
    SELECT 1 AS Result, 'Deleted successfully' AS Message;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllDepartments]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 8. sp_GetAllDepartments
-- ---------------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_GetAllDepartments]
AS
BEGIN
    SELECT DepartmentId, DepartmentName, Description, Status, CreatedAt, UpdatedAt
    FROM Departments
    ORDER BY DepartmentName;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllEmployees]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 13. sp_GetAllEmployees
-- ---------------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_GetAllEmployees]
AS
BEGIN
    SELECT e.EmployeeId, e.EmployeeCode, e.EmployeeName,
           e.DepartmentId, d.DepartmentName,
           e.Designation, e.Email, e.MobileNo,
           e.JoiningDate, e.Status, e.CreatedAt, e.UpdatedAt
    FROM Employees e
    INNER JOIN Departments d ON e.DepartmentId = d.DepartmentId
    ORDER BY e.EmployeeName;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetDashboardStats]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 19. sp_GetDashboardStats   (bonus - dashboard summary)
-- ---------------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_GetDashboardStats]
AS
BEGIN
    SELECT
        (SELECT COUNT(*) FROM Employees)                         AS TotalEmployees,
        (SELECT COUNT(*) FROM Employees WHERE Status='Active')   AS ActiveEmployees,
        (SELECT COUNT(*) FROM Employees WHERE Status='Inactive') AS InactiveEmployees,
        (SELECT COUNT(*) FROM Departments)                       AS TotalDepartments;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetDepartmentById]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 9. sp_GetDepartmentById
-- ---------------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_GetDepartmentById]
    @DepartmentId INT
AS
BEGIN
    SELECT DepartmentId, DepartmentName, Description, Status, CreatedAt, UpdatedAt
    FROM Departments
    WHERE DepartmentId = @DepartmentId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeById]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 14. sp_GetEmployeeById
-- ---------------------------------------------------------------
CREATE  PROCEDURE [dbo].[sp_GetEmployeeById]
    @EmployeeId INT
AS
BEGIN
    SELECT e.EmployeeId, e.EmployeeCode, e.EmployeeName,
           e.DepartmentId, d.DepartmentName,
           e.Designation, e.Email, e.MobileNo,
           e.JoiningDate, e.Status, e.CreatedAt, e.UpdatedAt
    FROM Employees e
    INNER JOIN Departments d ON e.DepartmentId = d.DepartmentId
    WHERE e.EmployeeId = @EmployeeId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeReportByDepartment]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 18. sp_GetEmployeeReportByDepartment
-- ---------------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_GetEmployeeReportByDepartment]
AS
BEGIN
    SELECT d.DepartmentName,
           e.EmployeeCode, e.EmployeeName, e.Designation,
           e.Email, e.MobileNo,
           CONVERT(NVARCHAR(10), e.JoiningDate, 103) AS JoiningDate,
           e.Status
    FROM Employees e
    INNER JOIN Departments d ON e.DepartmentId = d.DepartmentId
    ORDER BY d.DepartmentName, e.EmployeeName;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeesByStatus]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 20. sp_GetEmployeesByStatus  (bonus - dashboard drill-down)
-- ---------------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_GetEmployeesByStatus]
    @Status NVARCHAR(10)
AS
BEGIN
    SELECT e.EmployeeId, e.EmployeeCode, e.EmployeeName,
           d.DepartmentName, e.Designation, e.Email, e.MobileNo,
           CONVERT(NVARCHAR(10), e.JoiningDate, 103) AS JoiningDate,
           e.Status
    FROM Employees e
    INNER JOIN Departments d ON e.DepartmentId = d.DepartmentId
    WHERE e.Status = @Status
    ORDER BY e.EmployeeName;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByEmail]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 2. sp_GetUserByEmail
-- ---------------------------------------------------------------
CREATE  PROCEDURE [dbo].[sp_GetUserByEmail]
    @Email NVARCHAR(150)
AS
BEGIN
    SELECT UserId, FullName, Email, PasswordHash, Role, IsActive
    FROM Users
    WHERE Email = @Email AND IsActive = 1;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserById]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 3. sp_GetUserById
-- ---------------------------------------------------------------
CREATE  PROCEDURE [dbo].[sp_GetUserById]
    @UserId INT
AS
BEGIN
    SELECT UserId, FullName, Email, PasswordHash, Role, IsActive
    FROM Users
    WHERE UserId = @UserId AND IsActive = 1;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserToken]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 5. sp_GetUserToken  (fetch a token record to validate it)
-- ---------------------------------------------------------------
CREATE  PROCEDURE [dbo].[sp_GetUserToken]
    @Token NVARCHAR(MAX)
AS
BEGIN
    SELECT TOP 1 TokenId, UserId, Token, ExpiresAt, IsRevoked, CreatedAt
    FROM UserTokens
    WHERE Token = @Token;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =====================================================================
-- STORED PROCEDURES  (18 total)
-- =====================================================================

-- ---------------------------------------------------------------
-- 1. sp_RegisterUser
-- ---------------------------------------------------------------
CREATE  PROCEDURE [dbo].[sp_RegisterUser]
    @FullName     NVARCHAR(100),
    @Email        NVARCHAR(150),
    @PasswordHash NVARCHAR(256),
    @Role         NVARCHAR(20)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Users WHERE Email = @Email)
    BEGIN
        SELECT -1 AS Result, 'Email already exists' AS Message;
        RETURN;
    END

    INSERT INTO Users (FullName, Email, PasswordHash, Role)
    VALUES (@FullName, @Email, @PasswordHash, @Role);

    SELECT SCOPE_IDENTITY() AS Result, 'User registered successfully' AS Message;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_RevokeAllUserTokens]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 7. sp_RevokeAllUserTokens  (used on logout-all / password change)
-- ---------------------------------------------------------------
CREATE  PROCEDURE [dbo].[sp_RevokeAllUserTokens]
    @UserId INT
AS
BEGIN
    UPDATE UserTokens
    SET IsRevoked = 1
    WHERE UserId = @UserId AND IsRevoked = 0;

    SELECT 1 AS Result, 'All tokens revoked' AS Message;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_RevokeUserToken]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 6. sp_RevokeUserToken  (used on logout)
-- ---------------------------------------------------------------
CREATE  PROCEDURE [dbo].[sp_RevokeUserToken]
    @Token NVARCHAR(MAX)
AS
BEGIN
    UPDATE UserTokens
    SET IsRevoked = 1
    WHERE Token = @Token;

    SELECT 1 AS Result, 'Token revoked' AS Message;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SaveUserToken]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 4. sp_SaveUserToken  (insert a new bearer token record)
-- ---------------------------------------------------------------
CREATE  PROCEDURE [dbo].[sp_SaveUserToken]
    @UserId    INT,
    @Token     NVARCHAR(MAX),
    @ExpiresAt DATETIME
AS
BEGIN
    INSERT INTO UserTokens (UserId, Token, ExpiresAt, IsRevoked)
    VALUES (@UserId, @Token, @ExpiresAt, 0);

    SELECT SCOPE_IDENTITY() AS TokenId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDepartment]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 11. sp_UpdateDepartment
-- ---------------------------------------------------------------
CREATE  PROCEDURE [dbo].[sp_UpdateDepartment]
    @DepartmentId   INT,
    @DepartmentName NVARCHAR(100),
    @Description    NVARCHAR(255),
    @Status         NVARCHAR(10)
AS
BEGIN
    UPDATE Departments
    SET DepartmentName = @DepartmentName,
        Description    = @Description,
        Status         = @Status,
        UpdatedAt      = GETDATE()
    WHERE DepartmentId = @DepartmentId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateEmployee]    Script Date: 12-06-2026 22:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------
-- 16. sp_UpdateEmployee
-- ---------------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_UpdateEmployee]
    @EmployeeId   INT,
    @EmployeeCode NVARCHAR(20),
    @EmployeeName NVARCHAR(100),
    @DepartmentId INT,
    @Designation  NVARCHAR(100),
    @Email        NVARCHAR(150),
    @MobileNo     NVARCHAR(15),
    @JoiningDate  DATE,
    @Status       NVARCHAR(10)
AS
BEGIN
    UPDATE Employees
    SET EmployeeCode = @EmployeeCode,
        EmployeeName = @EmployeeName,
        DepartmentId = @DepartmentId,
        Designation  = @Designation,
        Email        = @Email,
        MobileNo     = @MobileNo,
        JoiningDate  = @JoiningDate,
        Status       = @Status,
        UpdatedAt    = GETDATE()
    WHERE EmployeeId = @EmployeeId;
END

GO
USE [master]
GO
